body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 15px;
    line-height: 24px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* PAGE
============================================*/

.page {
    width: 100%;
    height: 100vh;
    position: relative;

    background: #000 url("images/TestBG.jpg") center no-repeat;
    background-size: cover;
}

/* HEADER
============================================*/

.header {
    background-color: #151515;

    padding: 15px 0;
    margin-bottom: 22px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-brand-link {
    margin-left: 15px;

    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;

    transition: .2s linear;
}

.header-brand-link:hover {
    color: #48e46a;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 15px;

    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;

    transition: .2s linear;
}

.header-nav-link:hover {
    color: #48e46a;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -1px;
}

/* CONTENT
===================================== */
.content {
    margin-top: 24px;
}

.subtitle {
    color: rgba(255, 255, 255, .6);
    font-size: 21px;
    font-weight: 300;
}

.content-page {
    margin-bottom: 35px;
}

.title {
    margin-top: 8px;
    /* margin-bottom: 35px; */

    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.title span {
    color: #48e46a;
}

.text {
    margin-bottom: 50px;
    margin-top: 8px;

    color: #fff;

    font-size: 15px;
}

/* Button
    ===================================== */
.button {
    color: #000;
    background-color: #48e46a;

    font-family: inherit;
    font-size: 15px;
    font-weight: 500;

    display: inline-block;
    padding: 14px 42px;
    border-radius: 5px;
    text-decoration: none;
    border: 0;

    transition: .2s linear;
}

.button-resolution {
    display: block;

    width: 100%;
}

.button:hover {
    background-color: #36a84f;
}

/* TECHNOLOGIES
================================= */
.technologies {
    position: absolute;

    bottom: 40px;
    right: 80px;
}

/* FOOTER
================================= */
.footer {
    position: absolute;
    width: 100%;

    bottom: 50px;
    left: 0;
}

.contacts {
    display: flex;

    align-items: center;
}

.contacts-info {
    color: #fff;

    font-size: 15px;
    font-weight: 500;

    text-decoration: none;

    margin-right: 30px;
}

.contacts-info:hover {
    text-decoration: underline;
}

.contacts:last-child {
    margin-right: 0;
}

.contacts-icon {
    margin-right: 10px;
}

/*===================================
                FORM
=====================================*/
.form {
    width: 100%;
    max-width: 280px;
}

.form-group {
    margin-bottom: 10px;
}

.input,
.textarea {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;

    display: block;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 12px 18px;

    font-family: inherit;
    font-size: 15px;
}

.textarea {
    height: 100px;

    resize: none;
}