<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}">
    <title>Welcome!</title>
</head>

<body>
<div class="page">

    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-brand">
                    <a class="header-brand-link active" href="#">DIMEVISION</a>
                </div>

                <div class="header-logo">
                    <img src="../static/images/code.svg" th:src="@{images/code.svg}" alt="NoHomo">
                </div>

                <nav class="header-nav">
                    <a class="header-nav-link active" href="index.html">HOME</a>
                    <a class="header-nav-link" href="about.html">ABOUT ME</a>
                    <a class="header-nav-link" href="contact.html">CONTACTS</a>
                    <a class="header-nav-link" href="#">SIGN IN</a>
                </nav>
            </div>
        </div>
    </header>

    <!-- Page content -->
    <div class="container">
        <div class="content">
            <h2 class="subtitle">My name is Vladislav Kamalov</h2>
            <h1 class="title"> ...and I`m trying to dive into <span>WEB DEVELOPMENT</span></h1>
            <div class="text">
                <p>HELOLO</p>
            </div>

            <a class="button" href="#">Project Technologies</a>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="contacts">
                <a class="contacts-info" href="mailto:Fommkaa2304@mail.ru">
                    <img class="contacts-icon" src="../static/images/mail.svg" th:src="@{images/mail.svg}"
                         alt="mail">Fommkaa2304@mail.ru
                </a>
                <a class="contacts-info" href="tel:+79962223344"><img class="contacts-icon"
                                                                      src="../static/images/tel.svg"
                                                                      th:src="@{images/tel.svg}"
                                                                      alt="phone">+7 (996) 222 33-44

                </a>
            </div>
        </div>
    </footer>

    <img class="technologies" src="../static/images/spring-boot.jpg" th:src="@{images/spring-boot.jpg}" alt=""
         width="200" height="100">

</div> <!-- ./PAGE -->
</body>

</html>